.wrapper {
    box-sizing: border-box;
    margin-top: 14px;
    width: 256px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

.title {
    color: rgba(0, 0, 0, 0.498039);
    font-size: 13px;
}

.author {
    margin-left: 30px;
}

.button {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}

.delete {
    float: right;
    margin-top: 10px;
}

.error {
    position: relative;
    font-size: 12px;
    line-height: 12px;
    color: rgb(244, 67, 54);
}